<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/base.css">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <div class="headerSection">
            <h1>
                <a class="routes" href="{{ url_for('home') }}">
                    Wheel of Time API
                </a>
            </h1>
        </div>
        <div class="headerSection">
            <a class="routes" href="{{ url_for('documentation') }}">
                <h2>Documentation</h2>
            </a>
        </div>
        <div class="headerSection">
            <h2 class="routeText">Home</h2>
            <a class="routes" href="{{ url_for('characters') }}">
                <h2 class="routeText">Characters</h2>
            </a>
                
            <h2>Enemies</h2>
            <h2>Locations</h2>
        </div>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>